<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iBeacon Store Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Danilo Altheman">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="/stylesheets/jquery.fileupload.css">
    <link rel="stylesheet" href="/stylesheets/jquery.fileupload-ui.css">    
    <style type="text/css">
        body { padding-top: 60px; padding-bottom: 40px; }
        .hero-unit table {
            height: 100px !important;
            overflow: scroll;
            background-color: red;
        }
    </style>
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/images/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="hero-unit">
            <h1>iBeacon Store Manager</h1>
            <form method="POST" action="#" class="form" role="form" id="form_manage" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="sr-only" for="">Product</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="">Price</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Price">
                </div>
            
                <div class="form-group">
                    <label class="sr-only" for="">UUID</label>
                    <input type="text" class="form-control" id="uuid" name="uuid" placeholder="UUID">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="">Major</label>
                    <input type="number" class="form-control" id="major" name="major" placeholder="Major">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="">Minor</label>
                    <input type="number" class="form-control" id="minor" name="minor" placeholder="Minor">
                </div>
                <div class="form-group">
                    <label for="Section" class="sr-only">Section</label>
                    <select name="section" id="section">
                        <option value="Pasta">Pasta</option>
                        <option value="Beverages">Beverages</option>
                        <option value="Electronics">Electronics</option>
                    </select>
                </div>

<!--                 <div class="form-group">
                    <label class="sr-only" for="Description">Description</label>
                    <textarea rows="3" cols="100" id="description" name="description"></textarea>
                </div> -->

                
                <button type="button" class="btn btn-default" id="submit">Save</button>
            </form>
        </div>

        <hr>
        <div class="hero-unit table">
            <table class="table table-striped table-hover" id="beacons-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>UUID</th>
                        <th>Price</th>
                        <th>Major</th>
                        <th>Minor</th>
                        <th>Section</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <hr>
        <footer>
            <p>&copy; Quaddro 2015</p>
        </footer>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#submit").click(function(){
            var form_data = $("#form_manage").serialize();
            $.ajax({
                type: "POST",
                url: '/',
                data: form_data,
                success: function(response) {
                    load_data();
                },
                error: function(xhr, ajaxOptions, error) {
                    alert(error);
                }

            });
        });
        load_data();

        function load_data() {
            $.ajax({
                type: "GET",
                url: "/list",
                success: function(data) {
                    $("#beacons-table tbody").html("");
                    var json = JSON.stringify(data);
                    var object = JSON.parse(json);
                    $.each(object, function(key, object) {
                        $.each(object, function(index, value) {
                            $("#beacons-table tbody").append("<tr><td>"+value.name+"</td><td>"+value.uuid+"</td><td>"+value.price+"</td><td>"+value.major+"</td><td>"+value.minor+"</td><td>"+value.section+"</td><td><button id=\""+value._id+"\" class=\"btn btn-danger\" role=\"button\">Remove</button></td></tr>");
                        });
                    });
                }
            })
        }

        $(document).on('click','.btn-danger', function(){
            $.ajax({
                type: "DELETE",
                url: '/'+this.id,
                success: function(data) {
                    load_data();
                }
            });
        });

    });
    </script>
</body>
</html>